* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: "Josefin Sans", serif;
    font-size: 40px;
}

.logo>a {
    color: black;
    text-decoration: none;
}

.first-bar {
    height: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
}

.women-men {
    position: relative;
    top: 8px;
}

.women-men>ul {
    display: flex;
}

.women-men>ul>li {
    list-style: none;
    padding-right: 20px;
}

.women-men>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: "Quicksand", serif;
    font-size: 20px;
    text-transform: uppercase;
}

.shopping {
    position: relative;
    display: flex;
    top: 8px;
    right: 0px;
}

.shopping>a {
    padding-left: 20px;
}

.shopping>a>img {
    width: 20px;
}

.categories {
    display: flex;
}

.categories>li {
    list-style: none;
    padding-right: 20px;
}

.categories>li>a {
    text-decoration: none;
    color: black;
    font-family: "Quicksand", serif;
    font-size: 13px;
}

.second-bar {
    height: 50px;
    background-color: #ffe1fb;
    align-items: center;
    padding: 0 100px;
}

.dropdown-secbar {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 800px;
    z-index: 2;
    left: 100px;
}

.dropdown:hover .dropdown-secbar {
    display: block;
    margin-left: 10px;
}

li a {
    display: inline-block;
    padding: 17px 10px;
}