main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.sales-banner {
    position: relative;
    width: 100%;
    height: 120px;
    color: black;
    background-color: rgb(255, 181, 193);
    text-align: center;
    border-bottom: 2px solid white;
}

.sales-banner>span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quicksand", serif;
    font-size: 50px;
    white-space: nowrap;
}

#feel-yourself {
    display: grid;
    position: relative;
    margin-bottom: 50px;
}

#feel-yourself>img {
    width: 100%;
}

#feel-yourself>a>h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 192px;
    font-family: "Quicksand", serif;
    text-shadow: 11.5px 5px white;
    white-space: nowrap;
    animation: 6s ease-in-out infinite blinking;
    -webkit-animation: 6s ease-in-out infinite blinking;
}

@keyframes blinking {
    from {
        color: pink;
    }

    50% {
        color: rgb(59, 25, 25);
    }

    to {
        color: pink;
    }
}

/* @-webkit-keyframes blinking {
    from {
        color: pink
    }

    50% {
        color: rgb(160, 133, 255);
    }

    to {
        color: pink
    }
} */

.trending-container {
    position: relative;
    padding-top: 50px;
    border-top: 1px solid black;
}

/* .trending-title {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 800px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    text-align: center;
    background-color: black;
    background-color: rgba(252, 156, 192, 0.8);
    border-left: 3px solid black;
    border-right: 3px solid black;
} */

.trending {
    position: relative;
}

.trending>h4 {
    position: absolute;
    text-align: center;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    font-size: 25px;
    font-family: "Quicksand", serif;
    color: rgb(0, 0, 0);
    /* text-shadow: 8px 5px rgb(255, 173, 173); */
    white-space: nowrap;
}

.trending-content {
    position: relative;
    display: grid;
    grid-template-rows: 500px 1000px;
    row-gap: 40px;
    padding: 50px 0 50px 0;
    /* background-color: rgb(53, 50, 50); */
}

.first-line {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    max-width: 100%;
    margin: 0 50px;
    z-index: 1;
}

.first-line>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second-line {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    max-width: 100%;
    margin: 0 180px;
    /* z-index: 1; */
}

.second-line>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#shop-now {
    position: relative;
}

#shop-now>img {
    width: 100%;
}

#shop-now>a>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: black;
    font-size: 300px;
    font-family: "Quicksand", serif;
    text-align: center;
    white-space: nowrap;
}