main>h4 {
    margin: 30px 300px;
    font-family: "Quicksand", serif;
    font-size: 26px;
    white-space: nowrap;
}

#no-items {
    margin-top: 60px;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 20px;
}

#bag-is-empty {
    margin-bottom: 20px;
}

#continue-shopping {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
}