.sales-banner {
    position: relative;
    width: 100%;
    height: 120px;
    background-color: rgb(255, 181, 193);
    text-align: center;
    border-bottom: 2px solid white;
}

.sales-banner>span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: "Quicksand", serif;
    font-size: 50px;
    white-space: nowrap;
}

#feel-yourself {
    display: grid;
    position: relative;
    margin-bottom: 70px;
}

#feel-yourself>img {
    width: 100%;
}

#feel-yourself>h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 10vw;
    font-family: "Quicksand", serif;
    text-shadow: 0.6vw 5px white;
    white-space: nowrap;
    animation: 6s ease-in-out infinite blinking;
    -webkit-animation: 6s ease-in-out infinite blinking;
}

@keyframes blinking {
    from {
        color: pink
    }

    50% {
        color: rgb(59, 25, 25);
    }

    to {
        color: pink
    }
}

/* @-webkit-keyframes blinking {
    from {
        color: pink
    }

    50% {
        color: rgb(160, 133, 255);
    }

    to {
        color: pink
    }
} */

#shop-now {
    position: relative;
}

#shop-now>img {
    width: 100%;
}

#shop-now>h1 {
    font-size: 144px;
    font-family: "Quicksand", serif;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#shop-now>h1>a {
    color: black;
    text-decoration: none;
    font-size: 17vw;
}