<!DOCTYPE html>
<html lang="en">

<body>
    <div id="navbar">
        <div class="logo">
            <a href="/">Velvet</a>
        </div>

        <div class="first-bar">
            <nav class="women-men">
                <ul>
                    <li><a href="/womens">Womens</a></li>
                    <li><a href="/mens">Mens</a></li>
                </ul>
            </nav>
            <div class="shopping">
                <div id="cart">
                    <a href="/bag">
                        <img src="/public/content/icons/cart.svg" />
                        <span></span>
                    </a>
                </div>
                <div id="user">
                    <a href="#">
                        <img src="/public/content/icons/user.svg" />
                    </a>
                </div>
            </div>
        </div>

        <div class="second-bar">
            <nav>
                <ul class="categories">
                    <li class="dropdown">
                        <a href="#">Clothing</a>
                        <div class="dropdown-secbar">
                            <div class="clothing"></div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Shoes</a>
                        <div class="dropdown-secbar">
                            <div class="shoes">Shoes</div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Accessories</a>
                        <div class="dropdown-secbar">
                            <div class="accessories">Accessories</div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Brands</a>
                        <div class="dropdown-secbar">
                            <div class="brands">Brands</div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <script>
        var headerJS = "/public/js/header.js",
            cookiesJS = "/public/js/cookies.js",
            jqueryJS = "https://code.jquery.com/jquery-3.5.0.min.js";
        $.getScript(headerJS);
        $.getScript(cookiesJS);
        $.getScript(jqueryJS);

        $(".dropdown-secbar").each(function () {
            $(this).load("/public/html/partials/dropdown.html");
        });

        setCartNumber();
    </script>
</body>

</html>