* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.top-banner {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ffcdf8;
    text-align: center;
    font-family: "Quicksand", serif;
    font-size: 10px;
}

.top-banner>span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    font-family: "Josefin Sans", serif;
    font-size: 40px;
}

.logo>a {
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
}

.first-bar {
    height: 70px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
}

.women-men {
    position: relative;
    top: 8px;
}

.women-men>ul {
    display: flex;
}

.women-men>ul>li {
    list-style: none;
    padding-right: 20px;
}

.women-men>ul>li>a {
    text-decoration: none;
    color: black;
    font-family: "Quicksand", serif;
    font-size: 20px;
    text-transform: uppercase;
}

.women-men>ul>li>a:visited {
    font-weight: bold;
}

.shopping {
    position: relative;
    display: flex;
    top: 8px;
    right: 0px;
}

.shopping>div>a {
    padding-left: 20px;
}

.shopping>div>a>img {
    width: 20px;
}

#cart {
    position: relative;
    list-style: none;
}

#cart>a>img {
    width: 22px;
}

#cart>a>span {
    position: absolute;
    top: -5px;
    color: black;
    font-size: 14px;
}

#cart:hover .added-stuff {
    display: block;
}

li a {
    display: inline-block;
    margin: 17px 10px;
}

.categories {
    display: flex;
}

.categories>li {
    list-style: none;
    margin-right: 20px;
}

.categories>li>a {
    text-decoration: none;
    color: black;
    font-family: "Quicksand", serif;
    font-size: 14px;
}

.second-bar {
    height: 50px;
    background-color: #ffe1fb;
    align-items: center;
    padding: 0 100px;
}

.dropdown-secbar {
    display: none;
    margin: 0 5%;
    position: absolute;
    width: 90%;
    z-index: 2;
    left: 0;
}

.dropdown:hover {
    background-color: #ffc5c5;
}

.dropdown:hover .dropdown-secbar {
    display: block;
}

.dropdown-secbar>.clothing {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: "Quicksand", serif;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
}

.dropdown-secbar>.clothing>.left {
    padding: 20px 20px;
    display: grid;
    grid-column: 1;
    background-color: #ffc5c5;
    grid-template-columns: 1fr 1fr;
}

.dropdown-secbar>.clothing>.left>.image {
    grid-column: 1;
    position: relative;
    text-align: center;
    width: auto;
}

.dropdown-secbar>.clothing>.left>.image>img {
    position: relative;
    width: 150px;
}

.dropdown-secbar>.clothing>.left>.offers {
    grid-column: 2;
    margin: 0 auto;
}

.dropdown-secbar>.clothing>.left>.offers>h4 {
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.dropdown-secbar>.clothing>.left>.offers>div {
    padding: 10px 0;
    font-size: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.dropdown-secbar>.clothing>.left>.offers>.last {
    border-bottom: 0;
}

.dropdown-secbar>.clothing>.right {
    padding: 20px 20px;
    display: grid;
    grid-column: 2;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
}

.dropdown-secbar>.clothing>.right>.all-clothing,
.dropdown-secbar>.clothing>.right>.shop-by-fit {
    grid-column: 1;
}

.dropdown-secbar>.clothing>.right>.collections {
    grid-row: 1;
    grid-column: 2;
}

.dropdown-secbar>.clothing>.right>.shop-by-size {
    grid-row: 1;
}

.dropdown-secbar>.clothing>.right>.shop-by-size,
.dropdown-secbar>.clothing>.right>.velvet-brands {
    grid-column: 3;
}

.dropdown-secbar>.clothing>.right>div {
    margin-bottom: 15px;
    width: fit-content;
}

.dropdown-secbar>.clothing>.right>div>h4 {
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.list {
    padding-top: 10px;
}

.list>div {
    padding: 5px 0;
}