<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table id="items-table">
        <thead id="items-table-header">
            <tr>
                <th id="item-header">ITEM</th>
                <th id="item-header">DESCRIPTION</th>
                <th id="price-header">PRICE</th>
            </tr>
        </thead>
        <tbody id="items"></tbody>
    </table>
</body>

</html>