<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title> -->
    </head>

    <body>
        <div class="clothing">
            <div class="left">
                <div class="image">
                    <img
                        src="/content/header_content/photo-of-woman-wearing-straw-hat-3597099.jpg"
                    />
                </div>

                <div class="offers">
                    <h4>OFFERS</h4>
                    <div>20% Off Everything!</div>
                    <div>Get An Extra 25% Off Sale!</div>
                    <div>Huge Cashback For All Stuff!</div>
                    <div class="last">
                        Student Discount - Get Offer
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="all-clothing">
                    <h4>ALL CLOTHING</h4>
                    <div class="list">
                        <div>New In</div>
                        <div>Dresses</div>
                        <div>Tops</div>
                        <div>Jeans</div>
                        <div>Joggers</div>
                        <div>Skirts</div>
                        <div>Casual Wear</div>
                        <div>Shirts</div>
                        <div>Blouses</div>
                        <div>Trousers</div>
                        <div>Shorts</div>
                    </div>
                </div>

                <div class="shop-by-fit">
                    <h4>SHOP BY FIT</h4>
                    <div class="list">
                        <div>
                            Plus Size & Curve Clothing
                        </div>
                        <div>Maternity Clothing</div>
                        <div>Petite Clothing</div>
                        <div>Tall Clothing</div>
                    </div>
                </div>

                <div class="collections">
                    <h4>COLLECTIONS</h4>
                    <div class="list">
                        <div>Rainbow Collection</div>
                        <div>Casual Wear</div>
                        <div>Bride</div>
                        <div>Hen Party</div>
                        <div>Holiday Shop</div>
                        <div>Must Haves</div>
                        <div>Going Out</div>
                        <div>Jeans and a Nice Top</div>
                        <div>Disney</div>
                        <div>Occasion Wear</div>
                        <div>Style Steals</div>
                    </div>
                </div>

                <div class="shop-by-size">
                    <h4>SHOP BY SIZE</h4>
                    <div class="list">
                        <div>UK Size 4</div>
                        <div>UK Size 6</div>
                        <div>UK Size 8</div>
                        <div>UK Size 10</div>
                        <div>UK Size 12</div>
                        <div>UK Size 14</div>
                        <div>UK Size 16</div>
                        <div>UK Size 18</div>
                        <div>UK Size 20</div>
                        <div>UK Size 22</div>
                        <div>UK Size 24</div>
                    </div>
                </div>

                <div class="velvet-brands">
                    <h4>VELVET BRANDS</h4>
                    <div class="list">
                        <div>VELVET Premium</div>
                        <div>VELVET Cosmetics</div>
                        <div>VELVET Basics</div>
                        <div>VELVET Night</div>
                        <div>VELVET Blue</div>
                        <div>VELVET Boutique</div>
                        <div>VELVET Fit</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
