<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h4 class="logo"><a href="index.html">Velvet</a></h4>
        <div class="first-bar">
            <nav class="women-men">
                <ul>
                    <li><a href="women.html">Women</a></li>
                    <li><a href="men.html">Men</a></li>
                </ul>
            </nav>
            <div class="shopping">
                <a><img src="../content/index_content/cart.svg" /></a>
                <a><img src="../content/index_content/user.svg" /></a>
            </div>
        </div>
        <div class="second-bar">
            <nav>
                <ul class="categories">
                    <li class="dropdown">
                        <a href="#" class="dropdown-link">Clothing</a>
                        <div class="dropdown-secbar">Clothing</div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Shoes</a>
                        <div class="dropdown-secbar">Shoes</div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Accessories</a>
                        <div class="dropdown-secbar">Accessories</div>
                    </li>
                    <li class="dropdown">
                        <a href="#">Brands</a>
                        <div class="dropdown-secbar">Brands</div>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
